.top-section {
    justify-content: space-between;
}

.cards-wrapper {
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .mobile-to-column {
        flex-direction: column;
    }
}
