.search-bar-input {
    display: block;
    margin: 0 auto;
    border: 1px solid var(--grey);
    border-radius: 8px;
    padding: 12px;
}

input::-webkit-calendar-picker-indicator {
    display: none;
}
